#define TZ ""
#define HOSTNAME ""

// WiFi
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// MQTT
#define MQTT_BROKER ""
#define MQTT_PORT 1883
#define MQTT_CLIENT_ID ""
#define MQTT_TOPIC ""
#define MQTT_USER ""
#define MQTT_PASSWORD ""

const char* ca_cert PROGMEM = ""
