<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>It's Finn's Record Player!</title>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/moment/min/moment.min.js"></script>
    <script src="https://unpkg.com/moment-duration-format@2.3.2/lib/moment-duration-format.js"></script>
    <script src="https://unpkg.com/vuetrend@0.3.4/dist/vue-trend.js"></script>
  </head>
  <body class="bg-dark text-light">
    <div id="app">
      <b-container class="p-4">
        <h1>Let's play some records 🔊</h1>
        <b-img center rounded src="https://media.giphy.com/media/OmcqoK1Zr5P0c/giphy.gif" fluid class="my-4 shadow"></b-img>

        <p v-if="shouldBeWorking">Everything is going great!</p>

        <div class="my-4" role="tablist">
          <div class="mb-2">
            <b-button @click="toggleLog()" variant="info" size="sm" role="tab">🧾 View Log</b-button>
            <b-button @click="toggleStats()" variant="info" size="sm" role="tab">📊 Stats</b-button>
          </div>

          <b-collapse v-model="isLogOpen" accordion="info-boxes" role="tabpanel">
            <b-card header="Last 100 log lines" bg-variant="secondary" text-variant="light" border-variant="info">
              <pre class="text-light"><code>{{logLines}}</code></pre>
              <template v-slot:footer>
                <b-button @click="toggleLog()" block>Close</b-button>
              </template>
            </b-card>
          </b-collapse>

          <b-collapse v-model="isStatsOpen" accordion="info-boxes" role="tabpanel">
            <b-card header="Stats" bg-variant="secondary" text-variant="light" border-variant="info">
              <b-row no-gutters>
                <b-col>
                  <dl>
                    <dt>Free Heap</dt>
                    <dd>{{(stats.freeHeap / 1000).toFixed(1)}}K</dd>
                  </dl>
                </b-col>
                <b-col>
                  <div>
                    <trend
                      :data="freeHeapHistory"
                      :gradient="['#81d264', '#d6f289', '#f6c160']"
                      auto-draw
                      smooth
                      :radius="20"
                    ></trend>
                  </div>
                </b-col>
              </b-row>
              <template v-slot:footer>
                <b-button @click="toggleStats()" block>Close</b-button>
              </template>
            </b-card>
          </b-collapse>
        </div>

        <p>Uptime: {{uptime.format('dd[d] HH:mm:ss', { stopTrim: 'H' })}}</p>
      </b-container>
    </div>

    <script>
      window.app = new Vue({
        el: '#app',
        data() {
          return {
            freeHeapHistory: [],
            isLoaded: false,
            isLogOpen: false,
            isStatsOpen: false,
            logLines: '',
            stats: {},
          };
        },
        async created() {
          await Promise.all([
            this.updateStats(),
          ]);
          this.isLoaded = true;

          setInterval(this.updateStats, 1000);
        },
        computed: {
          shouldBeWorking() {
            // TODO: What indicators do we have?
            return true;
          },
          uptime() {
            return moment.duration(this.stats.time, 'seconds');
          },
        },
        methods: {
          async toggleLog() {
            if (!this.isLogOpen) {
              const response = await fetch('/log');
              this.logLines = await response.text();
            }

            this.isLogOpen = !this.isLogOpen;
          },
          async toggleStats() {
            this.isStatsOpen = !this.isStatsOpen;
          },
          async updateStats() {
            const response = await fetch('/stats');
            this.stats = await response.json();
          },
        },
        watch: {
          stats() {
            // Ring buffer of the last 100 readings
            this.freeHeapHistory.push(this.stats.freeHeap);
            if (this.freeHeapHistory.length > 100) {
              this.freeHeapHistory.shift();
            }
          },
        },
      })
    </script>
  </body>
</html>
